HELP.md
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

xml-archives/
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### React
fe/.vscode/
fe/node_modules
fe/package-lock.json


